$explorer-footer-height: 40px;

.explorer-container {
    @media (max-width: 700px) {
        width: 100%;
    }

    width: 300px;
    height: 100%;
    max-height: calc(100% - $explorer-footer-height);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--background-second);


    .explorer-provider {
        height: calc(100% - $explorer-footer-height);
        scrollbar-width: 2em;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .explorer-footer {
        user-select: none;
        height: $explorer-footer-height;
        color: var(--text-main);
        background-color: var(--background-main);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        cursor: pointer;

        div {
            height: $explorer-footer-height;

            span {
                line-height: $explorer-footer-height;
            }
        }
    }

    .explorer-rename-input {
        height: 100%;
        margin-left: 5px;
        width: 100%;
        white-space: nowrap;
        overflow-x: hidden;
        background-color: rgba(0, 0, 0, 0);
        outline: none;
        border: 0;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }
}

.file-line {
    padding: 3px 0;
    max-width: 286px;
    min-height: 26px;
    border: 0px;
    display: flex;
    color: var(--text-second);
    user-select: none;

    .file-line-name {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--file-line-hover);
    }

    img {
        margin-left: 3px;
        margin-top: auto;
        margin-bottom: auto;
        filter: var(--filter);
    }

    div {
        margin-left: 5px;
        margin-top: auto;
        margin-bottom: auto;
        white-space: nowrap;
    }
}

.explorer-editable-file {
    background-color: var(--file-editable-bg) !important;

    img {
        filter: invert(0%) sepia(0%) saturate(49%) hue-rotate(151deg) brightness(98%) contrast(100%);
    }
}

.explorer-active-file {
    // if file hover still active color
    background-color: var(--file-active-bg) !important;
}