.explorer-container{
    width: 300px;
    height: 100%;
    max-height: calc(100% - 45px);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    
    background-color: var(--background-second);
    .explorer-provider{
        height: calc(100% - 30px);
        scrollbar-width: 2em;
        overflow-y: scroll;
    }
    .explorer-footer{
        height: 30px;
        color:var(--text-main);
        background-color: var(--background-main);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        cursor: pointer;
    }
    .explorer-rename-input{
        width: 240px;
    }
}

.file-line{
    padding: 3px 0;
    max-width: 300px;
    min-height: 26px;
    border: 0px;
    display: flex;
    color: var(--text-second);
    .file-line-name{
        font-size: 14px;
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover{
        cursor: pointer;
        background-color: var(--file-line-hover);
    }
    img{
        margin-left: 3px;
        margin-top: auto;
        margin-bottom: auto;
        filter: invert(98%) sepia(1%) saturate(4584%) hue-rotate(48deg) brightness(125%) contrast(60%)
    }
    div{
        margin-left: 5px;
        margin-top: auto;
        margin-bottom: auto;
        white-space: nowrap;
    }
}

.file-line-editName{
    max-height: 24px;
    width: 100%;
    resize: none;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0);
    &:focus{
        outline: none;
    }
}

.true{
    // if file hover still active color
    background-color: var(--active-file-bg) !important;
}

.folder-submenu{
    min-width: 100%;
}