.explorer-container{
    width: 300px;
    max-height: calc(100% - 45px);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: 2em;
    background-color: var(--file-explorer-background);
}

.file-line{
    max-width: 300px;
    min-height: 26px;
    border: 0px;
    display: flex;
    color: var(--text-color);
    .file-line-name{
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover{
        cursor: pointer;
        background-color: var(--file-line-hover);
    }
    img{
        margin-top: auto;
        margin-bottom: auto;
    }
    div{
        margin-left: 5px;
        margin-top: auto;
        margin-bottom: auto;
        white-space: nowrap;
    }
}

.file-line-editName{
    max-height: 24px;
    width: 100%;
    resize: none;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0);
    &:focus{
        outline: none;
    }
}

.true{
    // if file hover still active color
    background-color: var(--active-file-bg) !important;
    color: var(--active-file-text);
}

.folder-submenu{
    min-height: 26px;
    min-width: 100%;
}