:root div[data-theme='dark'] *{
    --background-main: #121212;
    --background-second: #242424;
    --text-main: rgb(230, 230, 230);
    --text-second: rgb(204, 204, 204);
    --scrollbar-thumb: rgb(102, 102, 102);
    --scrollbar-border: var(--background-second);
    --scrollbar-hover: rgb(128,128,128);
    --scrollbar-active: rgb(77, 77, 77);
    --active-file-bg: rgb(196, 151, 28) ;
    --active-file-text:var(#1d1d1d);
    --file-line-hover: #61615f;
    --ctx-menu-hover: rgb(194, 194, 194);
    --editor-container: rgb(207, 207, 207);
}
  
  
:root div[data-theme='light'] *{
    --navbar-color: #E8B912;
    --text-color: white;
}