:root div[data-theme='dark'] * {
    --background-main: #121212;
    --background-second: #242424;
    --backgroud-editor: rgb(255, 255, 255);
    --backgroud-md: rgb(230, 230, 230);
    --text-main: rgb(230, 230, 230);
    --text-second: rgb(204, 204, 204);
    --scrollbar-thumb: rgb(102, 102, 102);
    --scrollbar-border: var(--background-second);
    --scrollbar-border-editor: var(--backgroud-editor);
    --scrollbar-border-md: var(--backgroud-md);
    --scrollbar-hover: rgb(128, 128, 128);
    --scrollbar-active: rgb(77, 77, 77);
    --file-active-bg: rgb(75, 75, 75);
    --file-active-text: var(#1d1d1d);
    --file-line-hover: rgb(50, 50, 50);
    --file-editable-bg: var(--warning);
    --ctx-menu-hover: rgb(194, 194, 194);
    --editor-container: rgb(207, 207, 207);
    --light-grey: #e3e3e3;
    --dark-grey: #c8c8c9;

    --negative: rgb(233, 20, 41);
    --warning: rgb(255, 164, 43);
    --positive: rgb(30, 215, 96);
    --announcement: rgb(13, 114, 234);

    --filter: invert(98%) sepia(1%) saturate(4584%) hue-rotate(48deg) brightness(125%) contrast(60%);
}


:root div[data-theme='light'] * {
    --navbar-color: #E8B912;
    --text-color: white;
}