.ctx-menu-container{
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    background-color: white;
    //border: 1px solid rgba(226, 226, 226, 0.753);
    min-width: 130px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
    
    
    .ctx-menu-element{
        width: 100%;
        min-height: 33px;
        margin: 0;
        
        &:last-child{
            span{
                color: rgb(206, 1, 1);
            }
        }

        &>div{
            margin-left: 10px;
            min-height: 33px;
            display:table;
            &>span{
                color: black;
                display:table-cell;
                vertical-align:middle;
            }
        }
    }
    .ctx-menu-element:hover{
        background-color: var(--ctx-menu-hover);
    }
}

.container-test{
    background-color: rgb(36, 33, 33);
    width: 100%;
    min-height: 700px;
}