.editor-container{
    background-color: var(--editor-container);
    position: absolute;
    top:45px;
    bottom: 0;
    left:300px;
    right:0;
    overflow-y:scroll;
}

.editor{
    background-color: #FFFFFF;
    line-height: 1.5;
    text-align: justify;
    outline: none;
    display: flex;
    flex-direction: column;
    margin: 3% 20%;
    padding-bottom: 30px;
}