.text-editor-container{
    @media (max-width: 700px) {
        display: none;
    }
    background-color: var(--background-second);
    position: absolute;
    top:45px;
    bottom: 0;
    left:300px;
    right:0;
    height: calc(100% - 45px);
    overflow-y: hidden;
    display: flex;
    flex-direction: row;

    .text-editor-half-screen{
        width: 50%;
        .text-editor-field-wrapper{
            background-color: white;
            height: 100%;
            width: 100%;
            position: relative;
            .text-editor-field{
                overflow-y: scroll;
                height: 95%;
                width: 95%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border: 0px;
                resize: none;
                outline: none;
            }
        }

        .text-editor-display-wrapper{
            background-color: whiteSmoke;
            height: 100%;
            width: 100%;
            position: relative;
            .text-editor-display{
                background-color: whitesmoke;
                height: 95%;
                width: 95%;
                position: absolute;
                top: 50%;
                left: 52%;
                transform: translate(-50%,-50%,);
                overflow-y: scroll;
                // styles for processed md
                p{
                    text-indent: 20px;
                }
                li{
                    margin: 0px 0px 5px 20px;
                }
                img{
                    max-width: 400px;
                    max-height: 400px;
                    margin: 20px 5px 20px 20px;
                }
                h1, h2, h3, h4, h5, h6 {
                    margin-left: 20px;
                }
                blockquote{
                    background-color: var(--light-grey);
                    width: fit-content;
                    padding: 3px 20px 3px 0px;
                    letter-spacing: .1em;
                }
                *{
                    margin: 10px 0;
                }
            }
        }
    }
}


