.md-header1{
    margin: 7px 0px;
    padding: 5px 15px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    font-size:x-large;
    
    &::after{
       
    }
}

.md-header2{
    margin: 7px 0px 7px 40px;
    padding: 5px 15px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    font-size: large;
}

.md-header3{
    margin: 7px 0px 7px 80px;
    padding: 5px 15px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    font-size: medium;
}

.md-todo{
    input{
        margin: 3px;
    }
}

.code{
    background-color: rgb(230, 230, 230);
    color: purple;
    padding: 10px;
    margin: 10px 0px;
}